/* Estilos para el encabezado */
header {
  background-color: #333;
  border-radius: 15px;
  color: white;
  padding: 20px;
}
body {
  background-image: url("../img/panel.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}

h1 {
  font-size: 45px;
  font-family: 'VespasiansFlorials', sans-serif;
  text-align: center;
  margin: 0;
}

/* Estilos para el cuerpo */
section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px 0;
}

.contenedor {
  font-family: 'Mightyful', sans-serif;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 5px #ddd;
  flex: 1 1 300px;
  margin: 10px;
  padding: 20px;
}

h2,
h3 {
  font-family: 'Asian Guy', sans-serif;
  font-size: 30px;
  color: rgb(195, 0, 255);  
  background-color: black;
  border-radius: 5px;
  padding: 20px;
  margin: 0;
  box-shadow: 0 0 5px #ddd;
}

p {
  line-height: 1.5;
}

ol {
  list-style: decimal inside;
  margin: 0;
  padding: 0 0 0 40px;
}

li {
  margin-bottom: 10px;
}

/* Estilos para el menú de navegación */
a {
  color: rgb(195, 0, 255);
  text-decoration: none;
  margin-right: 10px;
}

a:hover {
  text-decoration: underline;
  background-color: blueviolet;
  color: #ddd;
}
a:visited {
  color: #561265;
}
/* Footer */
footer {
  text-align: left;
  color: rgb(251, 240, 255);
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(72, 71, 71);
  background-color: #333;
}

.footer-info {
  background-color: black;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px #ddd;
}

.contenedor-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 70%;
  padding: 10px 20px;
}
